footer 
    width: 100%;
    background-color: #016c62;
    background-image: url('/assets/img/layout/bg-marcadagua-rodape.svg')
    background-repeat: no-repeat
    position: relative;
    +below(1100px)
        background-size: cover
    .center
        padding-top: 35px
        display: flex
        padding-bottom: 35px
        justify-content: space-around
        +below(1100px)
            flex-direction: column
            align-items: center
            row-gap: 50px
        .img-logo
            width: 220px
            height: auto
        .menu
            display: flex
            flex-direction: column
            row-gap: 15px
            buble 20
            color: $branco
            a
                //test
                &:hover
                    color: #add538
        .categorias
            display: flex
            flex-direction: column
            row-gap: 15px
            buble 16
            color: $branco
            a
                //test
                &:hover
                    color: #add538
        .informacoes
            display: flex
            flex-direction: column
            row-gap: 15px
            buble 18
            color: $branco
            .info_card
                display: flex
                column-gap: 10px
                p
                    margin: 0
                    padding: 0
            .info_card2
                display: flex
                column-gap: 10px
                p
                    ubuntu 14
                    margin: 0
                    padding: 0
            .info_card3
                display: flex
                column-gap: 10px
                p
                    ubuntu 16
                    margin: 0
                    padding: 0
            a
                //test
                &:hover
                    color: #add538

.rights
    border-top: 1px solid white
    background-color: #4b2500
    color: #add538
    display: flex
    justify-content: center
    flex-wrap: wrap
    ubuntu 10
