header {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 101;

    #nav-desktop {
        a{ 
            position relative
            buble(18);
            font-weight: 400;
            color: $verde;
            +below($tablet){
                display: none
            }

            .menu_cabec{    
                min-height: 100px
                background-repeat: no-repeat
                background-size: contain
                display: flex
                align-items: center
                justify-content: center
                padding-left: 20px
                padding-right: 20px
                &:hover, &.active, &.a{
                    background-image: url('/previa/assets/img/layout/marcador_home.svg');
                    color: $branco
                }
            }

            .menu_cabec2{    
                min-height: 105px
                background-repeat: no-repeat
                background-size: contain
                display: flex
                align-items: center
                justify-content: center
                padding-left: 20px
                padding-right: 20px
                &:hover, &.active, &.a{
                    background-image: url('/previa/assets/img/layout/marcador_somos.svg');
                    color: $branco
                }
            }

            .menu_cabec3{    
                min-height: 110px
                background-repeat: no-repeat
                background-size: contain
                display: flex
                align-items: center
                justify-content: center
                padding-left: 20px
                padding-right: 20px
                &:hover, &.active, &.a{
                    background-image: url('/previa/assets/img/layout/marcador_servicos.svg');
                    color: $branco
                }
            }

            .menu_cabec4{    
                min-height: 105px
                background-repeat: no-repeat
                background-size: contain
                display: flex
                align-items: center
                justify-content: center
                padding-left: 20px
                padding-right: 20px
                &:hover, &.active, &.a{
                    background-image: url('/previa/assets/img/layout/marcador_projetos.svg');
                    color: $branco
                }
            }

            .menu_cabec5{    
                min-height: 103px
                background-repeat: no-repeat
                background-size: contain
                display: flex
                align-items: center
                justify-content: center
                padding-left: 20px
                padding-right: 20px
                &:hover, &.active, &.a{
                    background-image: url('/previa/assets/img/layout/marcador_clipping.svg');
                    color: $branco
                }
            }

            .menu_cabec6{    
                min-height: 103px
                background-repeat: no-repeat
                background-size: contain
                display: flex
                align-items: center
                justify-content: center
                padding-left: 20px
                padding-right: 20px
                &:hover, &.active, &.a{
                    background-image: url('/previa/assets/img/layout/marcador_contato.svg');
                    color: $branco
                }
            }
        }
        
        
        
    }
    img{
        height: 17px;
        transition: all 0.5s
        margin-left: 20px
        &:hover {
            transform: rotate(360deg)
        }
        
    }
    .instagreen{
        filter: invert(56%) sepia(92%) saturate(1180%) hue-rotate(74deg) brightness(82%) contrast(91%);
    }

    .center {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto

        nav {
            width: auto;
            height: 100%;
            position: relative;
            display: flex;
            // column-gap: 40px;
            align-items: center;
            justify-content: flex-end;
            +below($tablet) {
                position: absolute;
                display: none;
                background-color: pink;
                width: 100%;
                left: 0;
                height: auto;
                top: 120px;
                padding: 20px 0;
                z-index: 105;
            }
            
        }
    }
}

#mobile-toggle
        margin-right: 5%;
        display block
        background-color transparent
        border 0
        position relative
        height 100%
        width 28px
        outline 0
        padding 0
        cursor pointer
        margin-left auto
        +above($tablet)
            display none
        .lines
            display block
            width 100%
            height 4px
            background $bg
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $bg
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        .lines2
            display block
            width 100%
            height 4px
            background $branco
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $branco
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
        &.close
            .lines2
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    +below(1260px)
        height 85px
        .center-header
            justify-content space-between
        .logo
            margin 0
            width 85px

nav#nav-mobile
    background rgba(0,0,0,0.9)
    box-shadow 0 6px 6px rgba(#000, .1)
    a
        buble(19);
        font-weight: 400;
        color: $branco;
        &:hover, &.active 
            color: $verde; 
    height: auto
    +above(1260px)
        display none !important
    display none
    padding 10px 0 20px
    text-align right
    position relative
    z-index 106
    .center-header
        display flex
        flex-direction: column
        padding-right 5%
        row-gap: 15px

.aviso-cookies
    display none
    width 100%
    margin 0
    flex-direction row
    align-items flex-start
    justify-content center
    bottom 0
    background-color rgba(0, 0, 0, 0.8)
    position fixed
    z-index 650
    padding 25px 7%
    .frase-cookies
        width 80%
        font-family "Verdana"
        font-size 14px
        color #FFF
        margin 0
        .link-politica
            text-decoration underline
            &:hover
            &:focus
                font-weight bold
    .aceitar-cookies
        width 20%
        font-family "Verdana"
        font-size 14px
        color #FFF
        background-color #01669C 
        border none
        border-radius 5px
        height 40px
        margin-left 20px
        z-index 650
        font-weight 600
        cursor pointer
        outline none
        &:hover
        &:focus
            background-color #003d5d
    +below($tablet)
        +mobile()
            flex-direction column
            align-items center
            padding 20px 
        .frase-cookies
            font-size 13px
            z-index 650
            +mobile()
                font-size 11px
                width 100%
                text-align center
        .aceitar-cookies
            font-size 13px
            z-index 650
            +mobile()
                font-size 12px
                width 100%
                text-align center
                margin-left 0
                margin-top 10px