@import url(https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
::-moz-selection {
  background: #000;
  color: #fff;
}
::selection {
  background: #000;
  color: #fff;
}
::-moz-selection {
  background: #000;
  color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}
p {
  line-height: 1.5;
}
.center {
  width: 1300px;
  margin: 0 auto;
}
@media only screen and (max-width: 1199px) {
  .center {
    width: 90%;
  }
}
footer {
  width: 100%;
  background-color: #016c62;
  background-image: url("/../assets/img/layout/bg-marcadagua-rodape.svg");
  background-repeat: no-repeat;
  position: relative;
}
@media only screen and (max-width: 1099px) {
  footer {
    background-size: cover;
  }
}
footer .center {
  padding-top: 35px;
  display: flex;
  padding-bottom: 35px;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
@media only screen and (max-width: 1099px) {
  footer .center {
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    row-gap: 50px;
  }
}
footer .center .img-logo {
  width: 220px;
  height: auto;
}
footer .center .menu {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
footer .center .menu a:hover {
  color: #add538;
}
footer .center .categorias {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
footer .center .categorias a:hover {
  color: #add538;
}
footer .center .informacoes {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
footer .center .informacoes .info_card {
  display: flex;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
footer .center .informacoes .info_card p {
  margin: 0;
  padding: 0;
}
footer .center .informacoes .info_card2 {
  display: flex;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
footer .center .informacoes .info_card2 p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
footer .center .informacoes .info_card3 {
  display: flex;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
footer .center .informacoes .info_card3 p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
footer .center .informacoes a:hover {
  color: #add538;
}
.rights {
  border-top: 1px solid #fff;
  background-color: #4b2500;
  color: #add538;
  display: flex;
  -ms-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: 400;
}
header {
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 101;
}
header #nav-desktop a {
  position: relative;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 18px;
  font-weight: 400;
  font-weight: 400;
  color: #23ad22;
}
@media only screen and (max-width: 1199px) {
  header #nav-desktop a {
    display: none;
  }
}
header #nav-desktop a .menu_cabec {
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
header #nav-desktop a .menu_cabec:hover,
header #nav-desktop a .menu_cabec.active,
header #nav-desktop a .menu_cabec.a {
  background-image: url("/../previa/assets/img/layout/marcador_home.svg");
  color: #fff;
}
header #nav-desktop a .menu_cabec2 {
  min-height: 105px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
header #nav-desktop a .menu_cabec2:hover,
header #nav-desktop a .menu_cabec2.active,
header #nav-desktop a .menu_cabec2.a {
  background-image: url("/../previa/assets/img/layout/marcador_somos.svg");
  color: #fff;
}
header #nav-desktop a .menu_cabec3 {
  min-height: 110px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
header #nav-desktop a .menu_cabec3:hover,
header #nav-desktop a .menu_cabec3.active,
header #nav-desktop a .menu_cabec3.a {
  background-image: url("/../previa/assets/img/layout/marcador_servicos.svg");
  color: #fff;
}
header #nav-desktop a .menu_cabec4 {
  min-height: 105px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
header #nav-desktop a .menu_cabec4:hover,
header #nav-desktop a .menu_cabec4.active,
header #nav-desktop a .menu_cabec4.a {
  background-image: url("/../previa/assets/img/layout/marcador_projetos.svg");
  color: #fff;
}
header #nav-desktop a .menu_cabec5 {
  min-height: 103px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
header #nav-desktop a .menu_cabec5:hover,
header #nav-desktop a .menu_cabec5.active,
header #nav-desktop a .menu_cabec5.a {
  background-image: url("/../previa/assets/img/layout/marcador_clipping.svg");
  color: #fff;
}
header #nav-desktop a .menu_cabec6 {
  min-height: 103px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
header #nav-desktop a .menu_cabec6:hover,
header #nav-desktop a .menu_cabec6.active,
header #nav-desktop a .menu_cabec6.a {
  background-image: url("/../previa/assets/img/layout/marcador_contato.svg");
  color: #fff;
}
header img {
  height: 17px;
  transition: all 0.5s;
  margin-left: 20px;
}
header img:hover {
  transform: rotate(360deg);
}
header .instagreen {
  filter: invert(56%) sepia(92%) saturate(1180%) hue-rotate(74deg) brightness(82%) contrast(91%);
}
header .center {
  height: 100%;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  width: auto;
}
header .center nav {
  width: auto;
  height: 100%;
  position: relative;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
@media only screen and (max-width: 1199px) {
  header .center nav {
    position: absolute;
    display: none;
    background-color: #ffc0cb;
    width: 100%;
    left: 0;
    height: auto;
    top: 120px;
    padding: 20px 0;
    z-index: 105;
  }
}
#mobile-toggle {
  margin-right: 5%;
  display: block;
  background-color: transparent;
  border: 0;
  position: relative;
  height: 100%;
  width: 28px;
  outline: 0;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
}
@media only screen and (min-width: 1200px) {
  #mobile-toggle {
    display: none;
  }
}
#mobile-toggle .lines {
  display: block;
  width: 100%;
  height: 4px;
  background: #000;
  position: relative;
  transition: 0.3s ease;
  border-radius: 3px;
}
#mobile-toggle .lines:before,
#mobile-toggle .lines:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: #000;
  transition: 0.3s ease;
  border-radius: 3px;
}
#mobile-toggle .lines:before {
  top: 7px;
}
#mobile-toggle .lines:after {
  top: -7px;
}
#mobile-toggle .lines2 {
  display: block;
  width: 100%;
  height: 4px;
  background: #fff;
  position: relative;
  transition: 0.3s ease;
  border-radius: 3px;
}
#mobile-toggle .lines2:before,
#mobile-toggle .lines2:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: #fff;
  transition: 0.3s ease;
  border-radius: 3px;
}
#mobile-toggle .lines2:before {
  top: 7px;
}
#mobile-toggle .lines2:after {
  top: -7px;
}
#mobile-toggle.close .lines {
  background: transparent;
}
#mobile-toggle.close .lines:before,
#mobile-toggle.close .lines:after {
  transform-origin: 50% 50%;
  top: 0;
}
#mobile-toggle.close .lines:before {
  transform: rotate3d(0, 0, 1, 45deg);
}
#mobile-toggle.close .lines:after {
  transform: rotate3d(0, 0, 1, -45deg);
}
#mobile-toggle.close .lines2 {
  background: transparent;
}
#mobile-toggle.close .lines2:before,
#mobile-toggle.close .lines2:after {
  transform-origin: 50% 50%;
  top: 0;
}
#mobile-toggle.close .lines2:before {
  transform: rotate3d(0, 0, 1, 45deg);
}
#mobile-toggle.close .lines2:after {
  transform: rotate3d(0, 0, 1, -45deg);
}
@media only screen and (max-width: 1259px) {
  .center-header {
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .logo {
    margin: 0;
    width: 85px;
  }
}
nav#nav-mobile {
  background: rgba(0,0,0,0.9);
  box-shadow: 0 6px 6px rgba(0,0,0,0.1);
  height: auto;
  display: none;
  padding: 10px 0 20px;
  text-align: right;
  position: relative;
  z-index: 106;
}
nav#nav-mobile a {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 19px;
  font-weight: 400;
  font-weight: 400;
  color: #fff;
}
nav#nav-mobile a:hover,
nav#nav-mobile a.active {
  color: #23ad22;
}
@media only screen and (min-width: 1260px) {
  nav#nav-mobile {
    display: none !important;
  }
}
nav#nav-mobile .center-header {
  display: flex;
  flex-direction: column;
  padding-right: 5%;
  row-gap: 15px;
}
.aviso-cookies {
  display: none;
  width: 100%;
  margin: 0;
  flex-direction: row;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -ms-justify-content: center;
  justify-content: center;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  z-index: 650;
  padding: 25px 7%;
}
.aviso-cookies .frase-cookies {
  width: 80%;
  font-family: "Verdana";
  font-size: 14px;
  color: #fff;
  margin: 0;
}
.aviso-cookies .frase-cookies .link-politica {
  text-decoration: underline;
}
.aviso-cookies .frase-cookies .link-politica:hover,
.aviso-cookies .frase-cookies .link-politica:focus {
  font-weight: bold;
}
.aviso-cookies .aceitar-cookies {
  width: 20%;
  font-family: "Verdana";
  font-size: 14px;
  color: #fff;
  background-color: #01669c;
  border: none;
  border-radius: 5px;
  height: 40px;
  margin-left: 20px;
  z-index: 650;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.aviso-cookies .aceitar-cookies:hover,
.aviso-cookies .aceitar-cookies:focus {
  background-color: #003d5d;
}
@media only screen and (max-width: 1199px) {
  .aviso-cookies .frase-cookies {
    font-size: 13px;
    z-index: 650;
  }
  .aviso-cookies .aceitar-cookies {
    font-size: 13px;
    z-index: 650;
  }
}
@media only screen and (max-width: 1199px) and (max-width: 767px) {
  .aviso-cookies {
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    padding: 20px;
  }
}
@media only screen and (max-width: 1199px) and (max-width: 767px) {
  .aviso-cookies .frase-cookies {
    font-size: 11px;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 1199px) and (max-width: 767px) {
  .aviso-cookies .aceitar-cookies {
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }
}
html,
body {
  height: 100%;
}
body {
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}
body main {
  width: 100%;
  height: auto;
  background-color: #000;
  padding: 60px 0 100px 0;
  min-height: calc(100% - 100px - 150px);
}
@media only screen and (max-width: 1199px) {
  body main {
    min-height: calc(100% - 100px - 150px);
  }
}
@media only screen and (max-width: 767px) {
  body main {
    min-height: calc(100% - 100px - 150px);
  }
}
.aviso-cookies {
  display: flex;
  width: 100%;
  margin: 0;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  z-index: 999;
  padding: 30px;
}
@media only screen and (max-width: 767px) {
  .aviso-cookies {
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    padding: 20px;
  }
}
.aviso-cookies .frase-cookies {
  width: 65%;
  color: #fff;
  margin: 0;
}
.aviso-cookies .frase-cookies .link-politica {
  text-decoration: underline;
}
.aviso-cookies .frase-cookies .link-politica:hover,
.aviso-cookies .frase-cookies .link-politica:focus {
  font-weight: bold;
}
@media only screen and (max-width: 1199px) {
  .aviso-cookies .frase-cookies {
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .aviso-cookies .frase-cookies {
    width: 100%;
    text-align: center;
  }
}
.aviso-cookies .aceitar-cookies {
  width: 15%;
  height: 40px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0;
  margin-left: 30px;
  cursor: pointer;
  outline: none;
}
.aviso-cookies .aceitar-cookies:hover {
  border: 1px solid $dourado;
  background-color: $dourado;
}
@media only screen and (max-width: 1199px) {
  .aviso-cookies .aceitar-cookies {
    font-size: 12px;
    height: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .aviso-cookies .aceitar-cookies {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }
}
.fancybox-overlay {
  background: rgba(0,0,0,0.8) !important;
}
.fancybox-nav > span {
  visibility: hidden !important;
}
.not-found {
  width: 100%;
  text-align: center;
  padding: 280px 0;
}
.not-found h1 {
  display: inline-block;
  padding: 15px 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid $vermelho;
  color: $vermelho;
  montserrat: 11 bold;
  line-height: 1;
}
section.clippings {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #fff;
  padding: 80px 0 60px 0;
}
@media only screen and (max-width: 1199px) {
  section.clippings {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 767px) {
  section.clippings {
    padding: 0 0 40px 0;
  }
}
section.clippings .grid {
  -ms-justify-content: center;
  justify-content: center;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
@media only screen and (max-width: 1369px) {
  section.clippings .grid {
    flex-direction: column;
    width: 82%;
  }
}
@media only screen and (max-width: 686px) {
  section.clippings .grid {
    width: 300px;
  }
}
section.clippings .grid .gutter {
  width: 15px;
}
section.clippings .grid .sizer {
  width: 380px;
}
@media only screen and (max-width: 767px) {
  section.clippings .grid .sizer {
    width: 280px;
  }
}
section.clippings .grid .clipping {
  display: block;
  position: relative;
}
section.clippings .grid .clipping .div-img {
  width: 380px;
  text-align: center;
  padding: 10px;
  background-color: #e8f4e8;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  transition: 0.2s ease;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}
section.clippings .grid .clipping .div-img .img-capa {
  width: 360px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 767px) {
  section.clippings .grid .clipping .div-img .img-capa {
    width: 260px;
  }
}
@media only screen and (max-width: 767px) {
  section.clippings .grid .clipping .div-img {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
  }
}
section.clippings .grid .clipping:hover .div-img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
}
section.clippings .grid .clipping2 {
  display: block;
  position: relative;
}
section.clippings .grid .clipping2 .div-img {
  width: 380px;
  text-align: center;
  padding: 10px;
  background-color: #e8f4e8;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  transition: 0.2s ease;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}
@media only screen and (max-width: 767px) {
  section.clippings .grid .clipping2 .div-img {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
  }
}
section.clippings .grid .clipping2 .div-img .img-capa {
  width: 360px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 767px) {
  section.clippings .grid .clipping2 .div-img .img-capa {
    width: 260px;
  }
}
section.clippings .btn-mais-clippings {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 130px;
  height: 55px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 0px;
  background-color: transparent;
  montserrat: 18;
  font-weight: 600;
  color: $cinza;
  cursor: pointer;
  transition: 0.5s all !important;
}
section.clippings .btn-mais-clippings:after {
  content: '▼';
  margin-left: 10px;
}
section.clippings .btn-mais-clippings:hover {
  border: 1px solid $cinza;
}
@media only screen and (max-width: 1199px) {
  section.clippings .btn-mais-clippings {
    width: 130px;
    height: 50px;
    margin: 80px calc((100%-100px)/2) 30px calc((100%-100px)/2);
  }
}
@media only screen and (max-width: 767px) {
  section.clippings .btn-mais-clippings {
    margin: 50px 40%;
  }
}
@media only screen and (max-width: 767px) {
  .fancybox-overlay {
    width: 100vw !important;
  }
}
@media only screen and (max-width: 767px) {
  .fancybox-wrap {
    width: 100% !important;
    top: 50px !important;
    left: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .fancybox-inner {
    width: 100% !important;
    height: auto !important;
  }
}
.fancybox-prev {
  width: 50%;
  left: -50px;
}
@media only screen and (max-width: 767px) {
  .fancybox-prev {
    left: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .fancybox-prev > span {
    visibility: visible !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
    left: 10px;
  }
}
.fancybox-next {
  width: 50%;
  right: -50px;
}
@media only screen and (max-width: 767px) {
  .fancybox-next {
    right: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .fancybox-next > span {
    visibility: visible !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
    right: 10px;
  }
}
.clip_info {
  display: flex;
  padding-left: 15px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  -ms-align-items: center;
  align-items: center;
}
.clip_info p {
  color: #23ad22;
  font-size: 12px;
  margin: 0;
}
.contatotext {
  margin-top: 95px !important;
  margin-bottom: 80px !important;
}
@media only screen and (max-width: 1099px) {
  .contatotext {
    margin-top: 165px !important;
  }
}
.dados-form {
  display: flex;
  -moz-column-gap: 130px;
  column-gap: 130px;
  width: 770px;
  margin-left: auto;
  margin-right: 20%;
}
@media only screen and (max-width: 1099px) {
  .dados-form {
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    row-gap: 60px;
    width: 280px;
  }
}
.dados-form .informacoes_a {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 18px;
  font-weight: 400;
  color: #4b2500;
}
.dados-form .informacoes_a .info_card_a {
  display: flex;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.dados-form .informacoes_a .info_card_a p {
  margin: 0;
  padding: 0;
}
.dados-form .informacoes_a .info_card2_a {
  display: flex;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.dados-form .informacoes_a .info_card2_a p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.dados-form .informacoes_a .info_card3_a {
  display: flex;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.dados-form .informacoes_a .info_card3_a p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-weight: 500;
}
.dados-form .informacoes_a a:hover {
  color: #add538;
}
.dados-form .form-contato {
  display: flex;
  flex-direction: column;
  width: 52%;
  row-gap: 3px;
}
@media only screen and (max-width: 1099px) {
  .dados-form .form-contato {
    width: 100%;
  }
}
.dados-form .form-contato .inputs {
  height: 35px;
  background-color: #e8f4e8;
  border-radius: 1px;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  color: #4b2500;
  font-weight: bold;
}
.dados-form .form-contato .inputs::-moz-placeholder {
  color: #4b2500;
  font-weight: bold;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.dados-form .form-contato .inputs:-ms-input-placeholder {
  color: #4b2500;
  font-weight: bold;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.dados-form .form-contato .inputs::placeholder {
  color: #4b2500;
  font-weight: bold;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.dados-form .form-contato .inputs_text {
  height: 160px;
  background-color: #e8f4e8;
  border-radius: 1px;
  border: 0;
  padding: 15px;
  color: #4b2500;
  font-weight: bold;
}
.dados-form .form-contato .inputs_text::-moz-placeholder {
  color: #4b2500;
  font-weight: bold;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.dados-form .form-contato .inputs_text:-ms-input-placeholder {
  color: #4b2500;
  font-weight: bold;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.dados-form .form-contato .inputs_text::placeholder {
  color: #4b2500;
  font-weight: bold;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.dados-form .form-contato .btn-enviar {
  display: flex;
  -ms-justify-content: end;
  justify-content: end;
  -ms-align-items: center;
  align-items: center;
  background-color: #23ad22;
  width: 100%;
  height: 45px;
  border: 0;
  color: #a8db27;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s;
}
.dados-form .form-contato .btn-enviar:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
  background-color: #135413;
}
.dados-form .form-contato .btn-enviar img {
  padding-right: 15px;
  padding-left: 15px;
  height: 30px;
}
.dados-form .flash {
  width: 910px;
  height: 30px;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 5px 10px;
  margin: 0 0 0 auto;
  border-radius: 0;
  position: relative;
}
@media only screen and (max-width: 1199px) {
  .dados-form .flash {
    width: 70%;
    font-size: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .dados-form .flash {
    width: 100%;
    margin: 10px 0;
  }
}
.dados-form .flash > p {
  margin: 0;
}
.dados-form .flash.flash-erro {
  border: 2px solid #e02227;
  background: #e02227;
  color: #fff;
}
.dados-form .flash.flash-sucesso {
  border: 2px solid #2caf2c;
  background: #2caf2c;
  color: #fff;
  height: auto;
}
.mapa {
  width: 100%;
  height: 400px;
  margin-top: 70px;
}
@media only screen and (max-width: 1199px) {
  .mapa {
    width: 100%;
    height: 350px;
  }
}
@media only screen and (max-width: 767px) {
  .mapa {
    width: 100%;
    height: 300px;
  }
}
.mapa iframe {
  width: 100%;
  height: 100%;
}
.home {
  width: 100%;
  height: 95%;
  margin-top: -100px;
  padding: 0;
  position: relative;
}
.home .banners {
  position: relative;
  width: 100%;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  opacity: 0.75;
}
.home .banners .slide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.home .banner_call {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  position: absolute;
  top: 250px;
  right: 2px;
  background-color: rgba(0,0,0,0.5);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 140px;
  width: 42%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=175)";
  filter: alpha(opacity=175);
  opacity: 1.75;
  z-index: 5000;
}
@media only screen and (max-width: 859px) {
  .home .banner_call {
    width: 100%;
    top: 160px;
  }
}
.home .banner_call h1 {
  color: #add538;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 32px;
  font-weight: 400;
  width: 440px;
  margin-left: 40px;
  transition: all 0.3s;
}
@media only screen and (max-width: 859px) {
  .home .banner_call h1 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 26px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.home .banner_call img {
  position: absolute;
  height: 15px;
  bottom: -7px;
  left: 525px;
}
@media only screen and (max-width: 859px) {
  .home .banner_call img {
    display: none;
  }
}
.home .logo {
  position: absolute;
  width: 530px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}
@media only screen and (max-width: 1239px) {
  .home .logo {
    display: none;
  }
}
.home a:hover .banner_call h1 {
  color: #fff;
  transform: scale(1.05);
}
.cenografia {
  margin: 0px;
  background-color: #fff;
  position: relative;
}
.cenografia .home_fichas {
  position: absolute;
  top: -145px;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  -moz-column-gap: 50px;
  column-gap: 50px;
  width: auto;
  height: 165px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1099px) {
  .cenografia .home_fichas {
    -moz-column-gap: 20px;
    column-gap: 20px;
    top: -84px;
    width: auto;
  }
}
@media only screen and (max-width: 679px) {
  .cenografia .home_fichas {
    display: none;
  }
}
.cenografia .home_fichas a:hover p {
  color: #add538;
}
.cenografia .home_fichas .ficha_1 {
  position: relative;
}
.cenografia .home_fichas .ficha_1 p {
  position: absolute;
  width: 125px;
  text-align: center;
  top: 30px;
  left: 40px;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}
@media only screen and (max-width: 1099px) {
  .cenografia .home_fichas .ficha_1 p {
    width: 90px;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 16px;
    font-weight: 400;
    left: 25px;
    top: 17px;
  }
}
.cenografia .home_fichas .ficha_1 p:hover {
  color: #add538;
}
.cenografia .home_fichas .ficha_1 img {
  width: 200px;
}
@media only screen and (max-width: 1099px) {
  .cenografia .home_fichas .ficha_1 img {
    width: 140px;
  }
}
.cenografia .home_fichas .ficha_1 .hover_circle {
  display: none;
  position: absolute;
  background-color: #add538;
  height: 212px;
  width: 212px;
  border-radius: 150px;
  top: -28px;
  left: -6px;
  z-index: -1;
}
@media only screen and (max-width: 1099px) {
  .cenografia .home_fichas .ficha_1 .hover_circle {
    width: 152px;
    height: 152px;
    top: -22px;
  }
}
.cenografia .home_fichas .ficha_1:hover .hover_circle {
  display: block;
}
.cenografia .mobile_fichas {
  display: none;
}
@media only screen and (max-width: 679px) {
  .cenografia .mobile_fichas {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #fff;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    -ms-align-items: center;
    align-items: center;
  }
  .cenografia .mobile_fichas .ficha {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -ms-justify-content: center;
    justify-content: center;
    width: 90%;
    height: 50px;
    background-color: #23ad22;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s;
  }
  .cenografia .mobile_fichas .ficha:hover {
    transform: scale(1.05);
  }
}
.cenografia .sustentavel {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}
.cenografia .sustentavel p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-weight: 500;
  margin: 0;
  padding-top: 145px;
  color: #4b2500;
  width: 645px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 85px;
}
@media only screen and (max-width: 679px) {
  .cenografia .sustentavel p {
    padding-top: 65px;
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
  }
}
.cenografia .sustentavel .video_home {
  width: 645px;
  height: 363px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 679px) {
  .cenografia .sustentavel .video_home {
    width: 95%;
  }
}
.parallax {
  position: relative;
  background-color: #000;
}
.parallax .bg {
  max-height: 500px;
  height: 500px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax .conteudo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.parallax .conteudo p {
  color: #fff;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 42px;
  font-weight: 400;
  max-width: 855px;
  width: 855px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 35px;
}
@media only screen and (max-width: 999px) {
  .parallax .conteudo p {
    width: 100%;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 55px;
  }
}
@media only screen and (max-width: 499px) {
  .parallax .conteudo p {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 55px;
  }
}
.parallax .conteudo a {
  display: flex;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  color: #fff;
  background-color: transparent;
  height: 35px;
  width: 160px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: solid 1px #fff;
  transition: all 0.3s;
}
.parallax .conteudo a:hover {
  background-color: #23ad22;
  border: solid 1px #808080;
}
.home_balls {
  background-color: #e8f4e8;
}
.home_balls h1 {
  margin-top: 0;
  color: #4b2500;
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-weight: 400;
  text-align: center;
  padding-top: 85px;
}
@media only screen and (max-width: 559px) {
  .home_balls h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    font-weight: 400;
    padding-left: 5%;
    padding-right: 5%;
  }
}
.home_balls .father {
  display: flex;
  max-width: 1150px;
  flex-wrap: wrap;
  -ms-justify-content: center;
  justify-content: center;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 40px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  margin-bottom: 0;
  padding-left: 0;
}
.home_balls .father .ext_ball {
  width: 350px;
  height: 350px;
  cursor: pointer;
}
@media only screen and (max-width: 559px) {
  .home_balls .father .ext_ball {
    width: 290px;
    height: 290px;
  }
}
.home_balls .father .ext_ball:hover p {
  color: #fff;
}
.home_balls .father .ext_ball .ball {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 559px) {
  .home_balls .father .ext_ball .ball {
    width: 290px;
    height: 290px;
  }
}
.home_balls .father .ext_ball .ball img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.home_balls .father .ext_ball .ball .overlay {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgba(11,163,186,0.6);
  z-index: 5;
  transition: all 0.5s;
}
.home_balls .father .ext_ball .ball:hover .overlay {
  left: 0px;
}
.home_balls .father .ext_ball .tag {
  display: flex;
  position: relative;
  width: 190px;
  height: 40px;
  margin-top: -100px;
  z-index: 10;
}
.home_balls .father .ext_ball .tag .one {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  background-color: #23ad22;
  width: 160px;
  color: #add538;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 18px;
  font-weight: 400;
}
.home_balls .father .ext_ball .tag .one p {
  transition: all 0.5s;
}
.home_balls .father .ext_ball .tag .two {
  border-left: 20px solid;
  border-left-color: #23ad22;
  border-top: 20px solid;
  border-top-color: rgba(0,0,0,0);
  border-bottom: 20px solid;
  border-bottom-color: rgba(0,0,0,0);
}
.book {
  background-color: #fff;
}
.book .centre {
  max-width: 1200px;
  margin: 50px auto 55px auto;
}
.book .centre .mainFrases {
  width: 700px;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (max-width: 999px) {
  .book .centre .mainFrases {
    width: 90%;
    margin: 0 15px;
  }
}
.book .centre .mainFrases h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #016c62;
}
.book .centre .mainFrases h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-weight: 500;
  color: #23ad22;
}
.book .centre .mainBox {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
}
@media only screen and (max-width: 999px) {
  .book .centre .mainBox {
    flex-direction: column;
  }
}
.book .centre .mainBox .textoLivro {
  width: 410px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #016c62;
  margin: 0 50px;
}
@media only screen and (max-width: 999px) {
  .book .centre .mainBox .textoLivro {
    margin: 20px 50px;
    width: 90%;
    text-align: center;
  }
}
.book .centre .mainBox .btnLivro {
  margin: auto;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 88% 52%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 88% 52%, 75% 100%, 0% 100%);
  background-color: #016c62;
  width: 200px;
  height: 78px;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  padding-left: 15px;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 18px;
  font-weight: 400;
  color: #add538;
  text-transform: uppercase;
}
@media only screen and (max-width: 999px) {
  .book .centre .mainBox .btnLivro {
    margin: 10px 0 10px 25px;
  }
}
@media only screen and (max-height: 790px) {
  .logo {
    display: none;
  }
}
@media only screen and (max-height: 556px) {
  .ws-title {
    display: none !important;
  }
}
main.politica-de-privacidade {
  background-color: #fff;
}
main.politica-de-privacidade .center h2.titulo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-weight: 500;
  color: #4b2500;
  margin: 0 0 40px 0;
}
main.politica-de-privacidade .center div.texto {
  color: #000;
}
main.politica-de-privacidade .center div.texto > p {
  margin: 0 0 20px 0;
  line-height: 1.8;
}
@media only screen and (max-width: 1199px) {
  main.politica-de-privacidade .center div.texto > p {
    margin: 0 0 15px 0;
  }
}
main.politica-de-privacidade .center div.texto > p > a {
  font-style: italic;
}
main.politica-de-privacidade .center div.texto > p > a:hover {
  color: $dourado;
}
main.politica-de-privacidade .center div.texto > ul {
  list-style: disc;
  list-style-position: outside;
  margin: 0 0 20px 20px;
  padding-left: 0;
  line-height: 1.8;
}
@media only screen and (max-width: 1199px) {
  main.politica-de-privacidade .center div.texto > ul {
    margin: 0 0 15px 15px;
  }
}
main.politica-de-privacidade .center div.texto > ul li {
  line-height: 1.8;
  margin: 0;
}
.faixada {
  padding-bottom: 0;
  position: relative;
  background-color: #fff;
  margin-top: -100px;
  width: 100%;
}
.faixada .logo {
  position: absolute;
  top: 20px;
  left: 8%;
  width: 250px;
  height: 170px;
  filter: drop-shadow(-2px -1px 7px rgba(0,0,0,0.3));
}
@media only screen and (max-width: 1529px) {
  .faixada .logo {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
  }
}
.faixada .texto {
  margin-top: 165px;
  width: 615px;
  margin-left: 33%;
  margin-bottom: 75px;
}
@media only screen and (max-width: 1099px) {
  .faixada .texto {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
  }
}
.faixada .texto h1 {
  margin-top: 0px;
  color: #abd53e;
  font-family: 'Ubuntu', sans-serif;
  font-size: 42px;
  font-weight: 400;
  font-weight: 300;
}
@media only screen and (max-width: 1099px) {
  .faixada .texto h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 34px;
    font-weight: 400;
    font-weight: 300;
  }
}
.faixada .sub_categoria {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  -moz-column-gap: 5px;
  column-gap: 5px;
  row-gap: 5px;
  margin-left: 33%;
  margin-top: -60px;
  margin-bottom: 55px;
}
@media only screen and (max-width: 1099px) {
  .faixada .sub_categoria {
    -ms-justify-content: center;
    justify-content: center;
    margin-left: auto;
    flex-wrap: wrap;
    padding-left: 4%;
    padding-right: 4%;
  }
}
.faixada .sub_categoria .categoria {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  border: 1px solid #abd53e;
  padding-left: 20px;
  padding-right: 20px;
  height: 36px;
}
.faixada .sub_categoria .categoria:hover {
  background-color: #0ba3ba;
}
.faixada .sub_categoria .categoria:hover p {
  color: #fff;
}
.faixada .sub_categoria .categoria p {
  line-height: 1;
  margin: 0;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 16px;
  font-weight: 400;
  color: #0ba3ba;
}
.faixada .sub_categoria .active {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  border: 1px solid #abd53e;
  padding-left: 20px;
  padding-right: 20px;
  height: 36px;
  background-color: #0ba3ba;
}
.faixada .sub_categoria .active p {
  line-height: 1;
  margin: 0;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.index-grid {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 55px;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1299px) {
  .index-grid {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 989px) {
  .index-grid {
    width: 100%;
    -ms-justify-content: center;
    justify-content: center;
  }
}
.index-grid .ext_card {
  min-width: 380px;
  overflow: hidden;
  border-radius: 20px;
}
@media only screen and (max-width: 989px) {
  .index-grid .ext_card {
    min-width: 280px;
  }
}
.index-grid .ext_card .overlay {
  display: flex;
  flex-direction: column;
  -ms-justify-content: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(11,163,186,0.6);
  border-radius: 20px;
}
.index-grid .ext_card .overlay h1 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 23px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px;
}
.index-grid .ext_card .overlay h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-top: 0;
}
.center-full {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.center-full .first {
  display: flex;
  margin-top: 95px;
  -moz-column-gap: 60px;
  column-gap: 60px;
  margin-bottom: 45px;
}
@media only screen and (max-width: 999px) {
  .center-full .first {
    flex-direction: column;
    row-gap: 30px;
  }
}
.center-full .first .capa {
  width: 720px;
  height: 368px;
  overflow: hidden;
  border-radius: 20px;
}
@media only screen and (max-width: 999px) {
  .center-full .first .capa {
    width: 100%;
    height: auto;
  }
}
.center-full .first .capa img {
  width: 100%;
}
.center-full .first .rightSide {
  display: flex;
  flex-direction: column;
}
.center-full .first .rightSide .descricao {
  color: #4b2500;
  max-width: 330px;
  position: relative;
}
.center-full .first .rightSide .descricao h2 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 24px;
  font-weight: 400;
  padding-top: 15px;
  margin-bottom: 0;
}
.center-full .first .rightSide .descricao h2 p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-weight: 500;
  margin-top: 0;
}
.center-full .first .rightSide .descricao h2 li {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-weight: 500;
}
.center-full .first .rightSide .descricao h2 img {
  position: absolute;
  top: 40px;
  left: -60px;
}
@media only screen and (max-width: 999px) {
  .center-full .first .rightSide .descricao h2 img {
    display: none;
  }
}
.center-full .first .rightSide .flexLogos {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}
.center-full .first .rightSide .flexLogos .logosImg {
  height: 90px;
  width: auto;
  padding: 0 0 8px 5px;
}
@media only screen and (max-width: 999px) {
  .center-full .first .rightSide .flexLogos .logosImg {
    height: 100%;
    width: 70%;
  }
}
.center-full .pshow-videobox {
  display: flex;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 80px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 999px) {
  .center-full .pshow-videobox {
    -ms-justify-content: center;
    justify-content: center;
  }
}
.center-full .pshow-videobox .videos {
  width: 585px;
  height: 330px;
}
@media only screen and (max-width: 569px) {
  .center-full .pshow-videobox .videos {
    width: 280px;
    height: 160px;
  }
}
.center-full .pshow-imagembox {
  display: flex;
  row-gap: 30px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 999px) {
  .center-full .pshow-imagembox {
    -ms-justify-content: center;
    justify-content: center;
  }
}
.center-full .pshow-imagembox a img {
  width: 360px;
  height: auto;
  margin-bottom: 30px;
}
@media only screen and (max-width: 479px) {
  .center-full .pshow-imagembox a img {
    width: 225px;
  }
}
.faixada {
  padding-bottom: 0;
  position: relative;
  background-color: #fff;
  margin-top: -100px;
  width: 100%;
  min-height: 200px;
}
.faixada .logo {
  position: absolute;
  top: 20px;
  left: 8%;
  width: 250px;
  height: 170px;
  filter: drop-shadow(-2px -1px 7px rgba(0,0,0,0.3));
}
@media only screen and (max-width: 1529px) {
  .faixada .logo {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
  }
}
.faixada .texto {
  margin-top: 165px;
  width: 615px;
  margin-left: 33%;
  margin-bottom: 75px;
}
@media only screen and (max-width: 1099px) {
  .faixada .texto {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
  }
}
.faixada .texto h1 {
  margin-top: 0px;
  color: #abd53e;
  font-family: 'Ubuntu', sans-serif;
  font-size: 42px;
  font-weight: 400;
  font-weight: 300;
}
@media only screen and (max-width: 1099px) {
  .faixada .texto h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 34px;
    font-weight: 400;
    font-weight: 300;
  }
}
.faixada .texto p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4b2500;
  font-weight: 500;
}
.faixada .video {
  overflow: hidden;
  display: flex;
  background-image: url("/../previa/assets/img/layout/bg-video-quem-somos.png");
  height: 550px;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 669px) {
  .faixada .video {
    height: 300px;
  }
}
.faixada .video .box {
  width: 800px;
  height: 450px;
}
@media only screen and (max-width: 1099px) {
  .faixada .video .box {
    width: 600px;
    height: 350px;
  }
}
@media only screen and (max-width: 669px) {
  .faixada .video .box {
    width: 300px;
    height: 165px;
  }
}
.sustentabilidade {
  background-image: url("/../previa/assets/img/layout/img-sustentabilidade.jpg");
  background-position-y: -169px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
  padding: 0;
  margin-top: -16px;
}
@media only screen and (max-width: 1299px) {
  .sustentabilidade {
    background-size: auto;
  }
}
.sustentabilidade .bloco {
  width: 450px;
  padding-top: 130px;
  margin-right: 240px;
  margin-left: auto;
}
@media only screen and (max-width: 1099px) {
  .sustentabilidade .bloco {
    margin-right: auto;
  }
}
.sustentabilidade .bloco .p1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin-top: 0;
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}
@media only screen and (max-width: 524px) {
  .sustentabilidade .bloco .p1 {
    font-size: 27px;
    padding-left: 20px;
  }
}
.sustentabilidade .bloco .p2 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 48px;
  font-weight: 400;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 524px) {
  .sustentabilidade .bloco .p2 {
    font-size: 30px;
    padding-left: 20px;
  }
}
.sustentabilidade .bloco .frase {
  width: 300px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-left: auto;
  margin-top: 40px;
  padding-top: 0;
}
@media only screen and (max-width: 524px) {
  .sustentabilidade .bloco .frase {
    margin-left: 20px;
    padding-right: 10px;
  }
}
.clientes {
  background-color: #fff;
}
.clientes h1 {
  padding-top: 70px;
  color: #add538;
  margin: 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-weight: 300;
}
.clientes .father {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  row-gap: 60px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (max-width: 789px) {
  .clientes .father {
    -ms-justify-content: center;
    justify-content: center;
  }
}
.clientes .father a {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  max-width: 216px;
  transition: all 0.5s;
}
.clientes .father a:hover {
  transform: scale(1.03);
}
.clientes .father a img {
  filter: grayscale(100%);
  transition: all 0.5s;
}
.clientes .father a img:hover {
  filter: grayscale(0);
}
.clientes .father2 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 40px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (max-width: 789px) {
  .clientes .father2 {
    -ms-justify-content: center;
    justify-content: center;
  }
}
.clientes .father2 a {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: center;
  justify-content: center;
  max-width: 216px;
  transition: all 0.5s;
}
.clientes .father2 a:hover {
  transform: scale(1.03);
}
.clientes .father2 a img {
  filter: grayscale(100%);
  transition: all 0.5s;
}
.clientes .father2 a img:hover {
  filter: grayscale(0);
}
body {
  background-color: #fff;
}
.quem_somos {
  height: auto;
  min-height: auto;
}
.quem_somos .texto {
  margin-left: 38%;
}
@media only screen and (max-width: 1099px) {
  .quem_somos .texto {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
  }
}
.servicos:nth-child(odd) {
  background-color: #e8f4e8;
}
.servicos:nth-child(odd) .centers {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  -moz-column-gap: 35px;
  column-gap: 35px;
  -ms-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
}
.servicos:nth-child(odd) .centers .imagembox {
  position: relative;
  width: 280px;
  height: 280px;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 350px;
}
@media only screen and (max-width: 1199px) {
  .servicos:nth-child(odd) .centers .imagembox {
    margin-bottom: 0;
    min-width: auto;
  }
}
@media only screen and (max-width: 499px) {
  .servicos:nth-child(odd) .centers .imagembox {
    display: flex;
    -ms-justify-content: center;
    justify-content: center;
    height: 230px;
  }
}
.servicos:nth-child(odd) .centers .imagembox .ball {
  display: block;
  width: 280px;
  height: 280px;
  border-radius: 100%;
  margin-left: 0;
  margin-right: 0;
}
@media only screen and (max-width: 499px) {
  .servicos:nth-child(odd) .centers .imagembox .ball {
    width: 230px;
    height: 230px;
  }
}
.servicos:nth-child(odd) .centers .imagembox .mark {
  position: absolute;
  top: 70px;
  left: -70px;
  height: 140px;
  width: 140px;
}
@media only screen and (max-width: 499px) {
  .servicos:nth-child(odd) .centers .imagembox .mark {
    display: none;
  }
}
.servicos:nth-child(odd) .centers .textbox {
  max-width: 560px;
  margin-bottom: 50px;
}
.servicos:nth-child(odd) .centers .textbox h2 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 28px;
  font-weight: 400;
  color: #4b2500;
  margin-top: 60px;
}
@media only screen and (max-width: 499px) {
  .servicos:nth-child(odd) .centers .textbox h2 {
    margin-top: 50px;
  }
}
.servicos:nth-child(odd) .centers .textbox p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4b2500;
  font-weight: 500;
}
.servicos:nth-child(odd) .centers .textbox li {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4b2500;
  font-weight: 500;
}
.servicos:nth-child(even) {
  background-color: #fff;
}
.servicos:nth-child(even) .centers {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  -moz-column-gap: 35px;
  column-gap: 35px;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.servicos:nth-child(even) .centers .imagembox {
  position: relative;
  width: 280px;
  height: 280px;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 350px;
}
@media only screen and (max-width: 1199px) {
  .servicos:nth-child(even) .centers .imagembox {
    margin-bottom: 0;
    min-width: auto;
  }
}
@media only screen and (max-width: 499px) {
  .servicos:nth-child(even) .centers .imagembox {
    height: 230px;
    display: flex;
    -ms-justify-content: center;
    justify-content: center;
  }
}
.servicos:nth-child(even) .centers .imagembox .ball {
  display: block;
  width: 280px;
  height: 280px;
  border-radius: 100%;
  margin-left: 0;
  margin-right: 0;
}
@media only screen and (max-width: 499px) {
  .servicos:nth-child(even) .centers .imagembox .ball {
    width: 230px;
    height: 230px;
  }
}
.servicos:nth-child(even) .centers .imagembox .mark {
  position: absolute;
  top: 70px;
  left: 208px;
  height: 140px;
  width: 140px;
  transform: scale(-1);
}
@media only screen and (max-width: 499px) {
  .servicos:nth-child(even) .centers .imagembox .mark {
    display: none;
  }
}
.servicos:nth-child(even) .centers .textbox {
  max-width: 560px;
  margin-bottom: 50px;
}
.servicos:nth-child(even) .centers .textbox h2 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 28px;
  font-weight: 400;
  color: #4b2500;
  margin-top: 60px;
}
@media only screen and (max-width: 499px) {
  .servicos:nth-child(even) .centers .textbox h2 {
    margin-top: 50px;
  }
}
.servicos:nth-child(even) .centers .textbox p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4b2500;
  font-weight: 500;
}
.servicos:nth-child(even) .centers .textbox li {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4b2500;
  font-weight: 500;
}

