desktop-base-width = 1300px;
rupture.medium-cutoff = $medium = 1300px;
rupture.tablet-cutoff = $tablet = 1200px;
rupture.mobile-cutoff = $mobile = 768px;
rupture.anti-overlap = -1px;

$vermelhoError = #E02227;
$verdeSuccess = #2caf2c;
$preto = #000;
$branco = #FFFFFF;
$marrom = #4B2500;
$bg = #000;
$borda = #DFDDD8;
$verde = #23ad22;
$azulmar = #016c62;
$azul    = #0ba3ba;
$verdao = #add538

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
   


buble($size, $weight = normal) {
    font-family: 'Bubblegum Sans', cursive;
    font-size: $size px;
    font-weight: 400;

    if ($weight == thin) {
        font-weight: 100;
    }

    if ($weight == light) {
        font-weight: 300;
    }
}

ubuntu($size, $weight = normal) {
    font-family: 'Ubuntu', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == thin) {
        font-weight: 100;
    }

    if ($weight == light) {
        font-weight: 300;
    }

    if ($weight == medium) {
        font-weight: 500;
    }
}