section.clippings
    width 100%
    height auto
    position relative   
    background-color #FFF
    padding 80px 0 60px 0
    +below($tablet)
        padding 60px 0
    +mobile()
        padding 0 0 40px 0
    .grid
        justify-content center
        width 1250px
        margin-left auto 
        margin-right auto
        display flex
        +below(1370px)
            flex-direction column
            width 82%
        +below(687px)
            width: 300px
        .gutter
            width 15px
        .sizer
            width 380px
            +below($mobile)
                width 280px
        .clipping
            display block
            position relative
            .div-img
                width 380px
                text-align center
                padding 10px
                background-color #e8f4e8
                align-items center
                justify-content center
                transition 0.2s ease
                margin-bottom 15px
                margin-left 15px
                margin-right 15px
                margin-top 15px
                .img-capa
                    width 360px
                    height 100%
                    object-fit contain
                    +below($mobile)
                        width 260px
                +below($mobile)
                    margin-left: auto;
                    margin-right: auto;
                    width 280px
            &:hover
                .div-img
                    opacity 0.8

        .clipping2
            display block
            position relative
            .div-img
                width 380px
                text-align center
                padding 10px
                background-color #e8f4e8
                align-items center
                justify-content center
                transition 0.2s ease
                margin-bottom 15px
                margin-left 15px
                margin-right 15px
                margin-top 15px
                +below($mobile)
                    margin-left: auto;
                    margin-right: auto;
                    width 280px
                .img-capa
                    width 360px
                    height 100%
                    object-fit contain
                    +below($mobile)
                        width 260px
                .clip-icon
                    // margin-top 20px
    .btn-mais-clippings
        display flex
        align-items center
        justify-content center
        width 130px
        height 55px
        margin-top 90px
        margin-left auto
        margin-right auto
        margin-bottom 20px
        border 0px
        background-color transparent
        montserrat 18
        font-weight 600
        color $cinza
        cursor pointer
        transition 0.5s all!important
        &:after
            content '▼'
            margin-left 10px
        &:hover
            border 1px solid $cinza
        +below($tablet)
            width 130px
            height 50px
            margin 80px calc("(100%-100px)/2") 30px calc("(100%-100px)/2")
        +mobile()
            margin 50px 40%


.fancybox-overlay
    +mobile()
        width 100vw !important
.fancybox-wrap 
    +mobile()
        width 100% !important
        top 50px !important
        left 0 !important
.fancybox-inner
    +mobile()
        width 100% !important
        height auto !important
.fancybox-prev
    width 50%
    left -50px
    +mobile()
        left 0 !important
    > span
        +mobile()
            visibility visible !important
            opacity 0.3
            left 10px
.fancybox-next
    width 50%
    right -50px
    +mobile()
        right 0 !important
    > span
        +mobile()
            visibility visible !important
            opacity 0.3
            right 10px

.clip_info
    display flex
    padding-left 15px
    column-gap 10px
    margin-top 10px
    margin-bottom 5px
    align-items center
    p
        color #23AD22
        font-size 12px
        margin 0
        