.contatotext
    margin-top: 95px!important
    margin-bottom: 80px!important
    +below(1100px)
        margin-top: 165px!important

.dados-form
    display: flex
    column-gap: 130px
    width: 770px
    margin-left: auto
    margin-right: 20%
    +below(1100px)
        margin-left: auto
        margin-right: auto
        flex-direction: column
        row-gap: 60px
        width: 280px
    .informacoes_a
        display: flex
        flex-direction: column
        row-gap: 15px
        buble 18
        color: $marrom
        .info_card_a
            display: flex
            column-gap: 10px
            p
                margin: 0
                padding: 0
        .info_card2_a
            display: flex
            column-gap: 10px
            p
                ubuntu 14
                margin: 0
                padding: 0
        .info_card3_a
            display: flex
            column-gap: 10px
            p
                ubuntu 16
                margin: 0
                padding: 0
                font-weight: 500
        a
            //test
            &:hover
                color: #add538


    .form-contato
        display: flex;
        flex-direction: column;
        width: 52%
        row-gap: 3px
        +below(1100px)
            width: 100%
        .inputs
            height: 35px
            background-color: #e8f4e8
            border-radius: 1px
            border: 0
            padding-left: 15px
            padding-right: 15px
            color: $marrom
            font-weight: bold
            &::placeholder
                color: $marrom
                font-weight: bold
                opacity: 0.8
        .inputs_text
            height: 160px
            background-color: #e8f4e8
            border-radius: 1px
            border: 0
            padding: 15px
            color: $marrom
            font-weight: bold
            &::placeholder
                color: $marrom
                font-weight: bold
                opacity: 0.8
        .btn-enviar
            display: flex
            justify-content: end
            align-items: center
            background-color: #23ad22
            width: 100%
            height: 45px
            border: 0
            color: #A8DB27
            font-size: 16px
            font-weight: bold
            letter-spacing: 1px
            cursor: pointer
            transition: all 0.3s
            &:hover
                box-shadow(0px 0px 10px rgba(0,0,0,0.7));
                background-color: #135413
            img
                padding-right: 15px
                padding-left: 15px
                height: 30px

                


    .flash {
        width: 910px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        notosans(12);
        padding: 5px 10px;
        margin: 0 0 0 auto;
        border-radius: 0;
        position: relative;

        +below($tablet) {
            width: 70%;
            font-size: 10px;
        }

        +mobile() {
            width: 100%;
            margin: 10px 0;
        }

        > p {
            margin: 0;
        }

        &.flash-erro {
            border: 2px solid $vermelhoError;
            background: $vermelhoError;
            color: $branco;
        }

        &.flash-sucesso {
            border: 2px solid $verdeSuccess;
            background: $verdeSuccess;
            color: $branco;
            height: auto;
        }
    }

.mapa {
    width: 100%;
    height: 400px;
    margin-top: 70px

    +below($tablet) {
        width: 100%;
        height: 350px;
    }

    +mobile() {
        width: 100%;
        height: 300px;
    }

    // iframe {
    //     width: 100%;
    //     height: 100%;
    // }
}
