.home
    width: 100%
    height: 95%
    margin-top: -100px
    padding: 0
    position: relative
    // +below(860px)
    //     height: 700px
    .banners
        position: relative
        width: 100%
        height: 100%
        opacity: 0.75
        // +below(860px)
        //     height: 700px
        .slide
            width: 100%
            height: 100%
            background-repeat: no-repeat

    .banner_call
        display: flex
        align-items: center
        position: absolute
        top: 250px
        right: 2px
        background-color: rgba(0,0,0,0.5)
        border-top-left-radius: 8px
        border-bottom-left-radius: 8px
        height: 140px
        width: 42%
        opacity: 1.75
        z-index: 5000
        +below(860px)
            width: 100%
            top: 160px

        h1
            color: #add538
            buble 32
            width 440px
            margin-left: 40px
            transition: all 0.3s
            +below(860px)
                buble 26
                margin-left: auto
                margin-right: auto
                text-align: center
        img
            position: absolute
            height: 15px
            bottom: -7px
            left: 525px
            +below(860px)
                display: none
    .logo
        position absolute
        width 530px
        top 35%
        left 50%
        transform: translate(-50%, -50%)
        z-index: 101
        +below(1240px)
            display: none
    a
        &:hover
            .banner_call
                h1
                    color: white
                    transform: scale(1.05)



.cenografia
    margin 0px
    background-color: white
    position: relative
    .home_fichas
        position: absolute
        top: -145px;
        left: 50%
        transform: translatex(-50%)
        display: flex
        column-gap: 50px
        width auto
        height: 165px
        margin-left: auto
        margin-right: auto
        +below(1100px)
            column-gap: 20px
            top: -84px;
            width auto
        +below(680px)
           display: none
        a
            &:hover
                p
                    color: #add538
        .ficha_1
            position: relative
            p
                position: absolute
                width: 125px
                text-align: center
                top: 30px
                left: 40px
                buble: 22
                color: $branco
                +below(1100px)
                    width: 90px
                    buble: 16
                    left: 25px
                    top: 17px
                &:hover
                    color: #add538
            img
                width: 200px
                +below(1100px)
                    width: 140px
            .hover_circle
                display: none
                position absolute
                background-color: #add538
                height 212px
                width 212px
                border-radius 150px
                top -28px
                left -6px
                z-index -1
                +below(1100px)
                    width 152px
                    height: 152px
                    top: -22px

            &:hover .hover_circle
                display: block

    .mobile_fichas
        display: none
        +below(680px)
            padding-top: 10px
            display: flex
            flex-direction: column
            row-gap: 10px
            background-color: $branco
            buble 17
            color white
            text-align: center
            align-items: center
            .ficha
                display: flex
                align-items: center
                justify-content: center
                width 90%
                height: 50px
                background-color: $verde
                padding-left: 2%
                padding-right: 2%
                border-radius: 6px
                cursor: pointer
                transition: all 0.5s
                &:hover
                    transform: scale(1.05)


    .sustentavel
        background-color: $branco
        display flex
        flex-direction: column
        align-items: center
        p
            ubuntu 18
            font-weight: 500
            margin: 0
            padding-top: 145px
            color: $marrom
            width: 645px
            text-align: center
            margin-right: auto
            margin-left: auto
            padding-bottom: 85px
            +below(680px)
                padding-top: 65px
                width: auto
                padding-left: 5%
                padding-right: 5%
        .video_home
            width 645px
            height 363px
            margin-bottom 40px
            +below(680px)
                width 95%
.parallax
    position: relative
    background-color: black
    .bg
        max-height: 500px
        height: 500px
        opacity: 0.65;
        background-attachment: fixed
        background-position: center
        background-repeat: no-repeat
        background-size: cover
    .conteudo
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        p
            color: $branco
            buble 42
            max-width: 855px
            width: 855px
            text-align: center
            margin-top: 0
            // padding-top: 180px
            margin-bottom: 35px
            +below(1000px)
                width: 100%
                buble 32
                margin-bottom: 55px
            +below(500px)
                buble 25
                margin-bottom: 55px
        a
            display: flex
            justify-content: center
            align-items: center
            color: white
            background-color: transparent
            height: 35px
            width: 160px
            ubuntu 14
            font-weight: 500
            margin-left: auto
            margin-right: auto
            cursor: pointer
            border: solid 1px white
            transition: all 0.3s
            &:hover
                background-color: $verde
                border: solid 1px grey

.home_balls
    background-color: #e8f4e8
    h1
        margin-top: 0;
        color: $marrom
        ubuntu 32
        font-weight: 400
        text-align: center
        padding-top: 85px
        +below(560px)
            ubuntu 21
            padding-left: 5%
            padding-right: 5%
    .father
        display: flex
        max-width: 1150px
        flex-wrap: wrap
        justify-content: center
        column-gap: 30px
        row-gap: 40px
        margin-top: 75px
        margin-left: auto
        margin-right: auto
        padding-bottom: 100px
        margin-bottom: 0
        padding-left: 0
        .ext_ball
            width: 350px
            height: 350px
            cursor: pointer
            +below(560px)
                width: 290px
                height: 290px
            &:hover
                p
                    color: $branco
            .ball
                position: relative
                width: 350px
                height: 350px
                border-radius: 100%
                overflow: hidden
                +below(560px)
                    width: 290px
                    height: 290px
                img
                    position relative
                    width: 100%
                    height: 100%
                    z-index: 4

                .overlay
                    position: absolute
                    left: -100%
                    width: 100%
                    height: 100%
                    border-radius: 100%
                    background-color: rgba(11,163,186,0.6)
                    z-index: 5
                    transition: all 0.5s
                &:hover
                    .overlay
                        left: 0px

            .tag
                display: flex
                position: relative
                width: 190px
                height: 40px
                margin-top: -100px
                z-index: 10
                .one
                    display: flex
                    align-items: center
                    justify-content: center
                    background-color: #23ad22
                    width: 160px
                    color: #add538
                    buble 18
                    p
                        transition: all 0.5s
                .two
                    border-left: 20px solid
                    border-left-color: #23ad22
                    border-top: 20px solid
                    border-top-color: rgba(0,0,0,0)
                    border-bottom: 20px solid
                    border-bottom-color: rgba(0,0,0,0)

.book
    background-color: $branco
    .centre
        max-width: 1200px
        margin 50px auto 55px auto
        .mainFrases
            width 700px
            text-align: center
            margin 0 auto
            +below(1000px)
                width 90%
                margin 0 15px
            h3
                ubuntu 32 light
                text-transform: uppercase
                text-align: center
                color $azulmar
            h4
                ubuntu 18 medium
                color $verde
        .mainBox
            display: flex
            align-items: center
            justify-content: center
            +below(1000px)
                flex-direction: column
            .textoLivro
                width 410px
                ubuntu 16
                color $azulmar
                margin 0 50px
                +below(1000px)
                    margin 20px 50px
                    width 90%
                    text-align: center
            .btnLivro
                margin auto
                clip-path: polygon(0% 0%, 75% 0%, 88% 52%, 75% 100%, 0% 100%);
                background-color: $azulmar
                width 200px
                height 78px
                display flex
                align-items: center
                padding-left 15px
                buble 18
                color $verdao
                text-transform: uppercase
                +below(1000px)
                    margin 10px 0 10px 25px



@media only screen and (max-height: 790px) {
    .logo{
        display: none
    }

}

@media only screen and (max-height: 556px) {
    .ws-title{
        display: none!important
    }
}
