main.politica-de-privacidade {
    background-color: $branco
    .center {
        h2.titulo {
            ubuntu(24, medium);
            color: $marrom;
            margin: 0 0 40px 0;
        }

        div.texto {
            notosans(14, light);
            color: $preto;

            > p {
                margin: 0 0 20px 0;
                line-height: 1.8;

                +below($tablet) {
                    margin: 0 0 15px 0;
                }

                > a {
                    font-style: italic;

                    &:hover {
                        color: $dourado;
                    }
                }
            }

            > ul {
                list-style: disc;
                list-style-position: outside;
                margin: 0 0 20px 20px;
                padding-left: 0;
                line-height: 1.8;

                +below($tablet) {
                    margin: 0 0 15px 15px;
                }

                li {
                    line-height: 1.8;
                    margin: 0;
                }
            }
        }
    }
}