.faixada
    padding-bottom: 0
    position relative
    background-color: $branco
    margin-top: -100px
    width: 100%
    .logo
        position absolute
        top: 20px
        left: 8%
        width: 250px 
        height: 170px
        -webkit-filter: drop-shadow(-2px -1px 7px rgba(0,0,0,0.3));
        filter: drop-shadow(-2px -1px 7px rgba(0,0,0,0.3));
        +below(1530px)
            opacity 0.3

    .texto
        margin-top: 165px
        width: 615px
        margin-left: 33%
        margin-bottom: 75px
        +below(1100px)
            margin-left: auto
            margin-right: auto
            width: 80%
            height: auto
        h1
            margin-top: 0px
            color: #abd53e
            ubuntu 42
            font-weight: 300
            +below(1100px)
                ubuntu 34
                font-weight: 300
    .sub_categoria
        display: flex
        height: auto
        flex-wrap: wrap;
        column-gap: 5px
        row-gap: 5px
        margin-left: 33%
        margin-top: -60px
        margin-bottom: 55px
        +below(1100px)
            justify-content: center
            margin-left: auto
            flex-wrap: wrap
            padding-left: 4%
            padding-right: 4%
        .categoria
            display: flex
            align-items: center
            border: 1px solid #abd53e
            padding-left: 20px
            padding-right: 20px
            height: 36px
            &:hover
                background-color: $azul
                p
                    color: $branco

            p
                line-height: 1
                margin: 0
                buble 16
                color: $azul
        .active
            display: flex
            align-items: center
            border: 1px solid #abd53e
            padding-left: 20px
            padding-right: 20px
            height: 36px
            background-color: $azul
            p
                line-height: 1
                margin: 0
                buble 16
                color: $branco

.index-grid
    width: 95%
    display: flex
    flex-wrap: wrap
    column-gap: 30px
    row-gap: 30px
    margin-bottom: 55px
    padding-left: 0
    margin-left: auto
    margin-right: auto
    +below(1300px)
        flex-wrap: wrap
    +below(990px)
        width: 100%
        justify-content: center
    .ext_card
        min-width: 380px
        overflow: hidden
        border-radius: 20px
        +below(990px)
            min-width: 280px
        .overlay
            display: flex
            flex-direction: column
            justify-content: center
            text-align: center
            background-color: rgba(11,163,186,0.6)
            border-radius: 20px
            h1
                buble 23
                color: $branco
                margin-bottom: 15px
            h2
                ubuntu 16
                color: $branco
                margin-top: 0
    
.center-full
    width: 75%
    margin-left: auto
    margin-right: auto
    .first
        display: flex
        margin-top: 95px
        column-gap: 60px
        margin-bottom: 45px
        +below(1000px)
            flex-direction: column 
            row-gap: 30px
        .capa
            width: 720px
            height: 368px
            overflow: hidden
            border-radius: 20px
            +below(1000px)
                width 100%
                height: auto
            img
                width: 100%
        .rightSide
            display flex
            flex-direction: column
            .descricao
                color: $marrom
                max-width: 330px
                position: relative
                h2
                    buble 24
                    padding-top: 15px
                    margin-bottom: 0
                    p
                        ubuntu 16
                        font-weight: 500
                        margin-top: 0
                    li
                        ubuntu 16
                        font-weight: 500
                    img
                        position: absolute
                        top: 40px
                        left: -60px
                        +below(1000px)
                            display: none
            .flexLogos
                display flex
                flex-wrap: wrap
                width auto
                .logosImg
                    height 90px
                    width auto
                    padding 0 0 8px 5px
                    +below(1000px)
                        height: 100%
                        width: 70%

    .pshow-videobox
        display: flex
        column-gap: 30px
        row-gap: 30px
        margin-bottom: 80px
        flex-wrap: wrap
        +below(1000px)
            justify-content: center
        .videos
            width: 585px
            height: 330px  
            +below(570px) 
                width: 280px
                height: 160px

    .pshow-imagembox
        display: flex
        row-gap: 30px
        margin-bottom: 60px
        +below(1000px)
            justify-content: center
        a
            //test
            img
                width: 360px
                height: auto 
                margin-bottom: 30px 
                +below(480px)
                    width: 225px
