.faixada
    padding-bottom: 0
    position relative
    background-color: $branco
    margin-top: -100px
    width: 100%
    min-height: 200px;
    .logo
        position absolute
        top: 20px
        left: 8%
        width: 250px 
        height: 170px
        -webkit-filter: drop-shadow(-2px -1px 7px rgba(0,0,0,0.3));
        filter: drop-shadow(-2px -1px 7px rgba(0,0,0,0.3));
        +below(1530px)
            opacity 0.3

    .texto
        margin-top: 165px
        width: 615px
        margin-left: 33%
        margin-bottom: 75px
        +below(1100px)
            margin-left: auto
            margin-right: auto
            width: 80%
            height: auto
        h1
            margin-top: 0px
            color: #abd53e
            ubuntu 42
            font-weight: 300
            +below(1100px)
                ubuntu 34
                font-weight: 300
        p
            ubuntu 16
            color: $marrom
            font-weight: 500

    .video
        overflow: hidden
        display: flex
        background-image: url('/previa/assets/img/layout/bg-video-quem-somos.png');
        height: 550px
        justify-content: center
        align-items: center
        width: 100%
        +below(670px)
            height: 300px
        .box
            width: 800px
            height: 450px
            +below(1100px)
                width: 600px
                height: 350px
            +below(670px)
                width: 300px
                height: 165px

.sustentabilidade
    background-image: url('/previa/assets/img/layout/img-sustentabilidade.jpg');
    background-position-y: -169px;
    background-size: cover
    background-repeat: no-repeat
    height: 550px
    width: 100%
    padding: 0
    margin-top: -16px
    +below(1300px)
        background-size: auto
    .bloco
        width: 450px
        padding-top: 130px
        margin-right: 240px
        margin-left: auto
        +below(1100px)
            margin-right: auto
        .p1
            ubuntu 32
            margin-top: 0
            font-weight: 300
            color: $branco
            margin-bottom: 20px
            +below(525px)
                font-size: 27px
                padding-left: 20px

        .p2
            buble 48
            color: $branco
            margin-top: 0
            margin-bottom: 0
            +below(525px)
                font-size: 30px
                padding-left: 20px
        .frase
            width: 300px
            ubuntu 16
            color: $branco
            margin-left: auto
            margin-top: 40px
            padding-top: 0
            +below(525px)
                margin-left: 20px
                padding-right: 10px

.clientes
    background-color: $branco
    h1
        padding-top: 70px
        color: #add538
        margin: 0
        text-align: center
        ubuntu 28
        font-weight: 300
    .father
        display: flex
        flex-wrap: wrap
        max-width: 1100px
        column-gap: 50px
        row-gap: 60px
        margin-top: 100px
        margin-left: auto
        margin-right: auto
        padding-bottom: 100px
        padding-left: 30px
        padding-right: 30px
        +below(790px)
            justify-content: center
        a
            display: flex
            align-items: center
            justify-content: center
            max-width: 216px
            transition: all 0.5s
            &:hover
                transform: scale(1.03)
            img
                filter: grayscale(100%);
                transition: all 0.5s
                &:hover
                     filter: grayscale(0); 
    .father2
        display: flex
        flex-wrap: wrap
        max-width: 1500px
        column-gap: 30px
        row-gap: 40px
        margin-top: 100px
        margin-left: auto
        margin-right: auto
        padding-bottom: 100px
        padding-left: 30px
        padding-right: 30px
        +below(790px)
            justify-content: center
        a
            display: flex
            align-items: center
            justify-content: center
            max-width: 216px
            transition: all 0.5s
            &:hover
                transform: scale(1.03)
            img
                filter: grayscale(100%);
                transition: all 0.5s
                &:hover
                     filter: grayscale(0);   