body
    background-color: white
.quem_somos
    height: auto
    min-height: auto
    .texto
        margin-left: 38%
        +below(1100px)
            margin-left: auto
            margin-right: auto
            width: 80%
            height: auto
.servicos:nth-child(odd)
    background-color: #e8f4e8
    .centers
        width: 80%
        margin-left: auto
        margin-right: auto
        display: flex
        column-gap: 35px
        justify-content: center
        flex-wrap: wrap
        align-items: center
        .imagembox
            position: relative
            width: 280px
            height: 280px
            margin-top: 30px
            margin-bottom: 30px
            min-width: 350px
            +below(1200px)
                margin-bottom: 0
                min-width: auto
            +below(500px)
                display: flex
                justify-content: center
                height: 230px
            .ball
                display: block
                width: 280px
                height: 280px
                border-radius: 100%
                margin-left: 0
                margin-right: 0
                +below(500px)
                    width: 230px
                    height: 230px
            .mark
                position: absolute
                top: 70px
                left: -70px
                height: 140px
                width: 140px
                +below(500px)
                    display: none
        .textbox
            max-width: 560px
            margin-bottom: 50px
            h2
                buble 28
                color: $marrom
                margin-top: 60px
                +below(500px)
                    margin-top: 50px
            p
                ubuntu 16
                color: $marrom
                font-weight: 500
            li
                ubuntu 16
                color: $marrom
                font-weight: 500

.servicos:nth-child(even)
    background-color: #fff
    .centers
        width: 80%
        margin-left: auto
        margin-right: auto
        display: flex
        flex-direction: row-reverse
        flex-wrap: wrap
        column-gap: 35px
        justify-content: center
        align-items: center
        .imagembox
            position: relative
            width: 280px
            height: 280px
            margin-top: 30px
            margin-bottom: 30px
            min-width: 350px
            +below(1200px)
                margin-bottom: 0
                min-width: auto
            +below(500px)
                height: 230px
                display: flex
                justify-content: center
            .ball
                display: block
                width: 280px
                height: 280px
                border-radius: 100%
                margin-left: 0
                margin-right: 0
                +below(500px)
                    width: 230px
                    height: 230px
            .mark
                position: absolute
                top: 70px
                left: 208px
                height: 140px
                width: 140px
                -webkit-transform: scale(-1);
                transform: scale(-1);
                +below(500px)
                    display: none
        .textbox
            max-width: 560px
            margin-bottom: 50px
            h2
                buble 28
                color: $marrom
                margin-top: 60px
                +below(500px)
                    margin-top: 50px
            p
                ubuntu 16
                color: $marrom
                font-weight: 500
            li
                ubuntu 16
                color: $marrom
                font-weight: 500

        